#form{
  font-family: arial,sans-serif;
  font-weight: bold;
  position:absolute;
  text-align:center;
  width: 30%;
  height: 5%;
  margin-left: 36.4%;
  margin-top: 24%;
}
img {
  position:absolute;
  margin-left: 40%;
  margin-top: 15%;
}

