<link rel="stylesheet" type="text/css" href="styles/taskPage.css"> 
<div ng-app="TaskApp" ng-controller="TaskPageCtrl" id="page1" class="">
	<div id="formDiv" class="form-group">
		<label for="task">Add a new task:</label>
		<div class="row">
			<div class="form-group col-md-7">
				<input ng-model="line" type="text" class="form-control" id="taskid">
			</div>
			<div class="form-group col-md-3">
				<input ng-model="lineGroup" type="text" class="form-control" id="taskidGroup">
			</div>	

			<button type="submit" class="btn btn-primary col-md-2" ng-click="addTask()">Submit</button>		
		</div>
	</div>
	<table class="table">
		<thead>
			<th>
				<div class="myInline">
					Tasks	
				</div>
				<div class="myInline">
					<!--Hidden Button to fit margin to the one of "Group"-->
					<button id="hiddenButton" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="caret"></span></button>
					</div>
				</th>
				<th><div class="myInline">
					Group
				</div>
				<div class="dropdown myInline">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-repeat="g in groupList"><a ng-click="showGroup(g)">{{g}}</a></li>
							<li class="divider"></li>
							<li><a ng-click="showAllGroups()">All</a></li>
						</ul>
					</div>


				</th>
				<th></th>
			</thead>
			<tr ng-repeat="x in showList" class="{{ x.done ? 'success' : '' }}">
				<td id="taskCol">{{x.task}}</td>
				<td id="groupCol">{{ x.group }}</td>
				<td id="buttonCol">
					<div class="dropdown" id="dropdownID">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a ng-click="doneTask(x)"><span class="glyphicon glyphicon-ok"></span> Done</a></li>
								<li><a ng-click="deleteTask(x)"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
							</ul>
						</div> 
					</td>
				</tr>
			</table>
		</div>

