<div ng-app="TaskApp" ng-controller="TaskPageCtrl" id="page1" class="">
	<div id="formDiv" class="form-group">
		<label for="task">Add a new task:</label>
		<input ng-model="line" type="text" class="form-control" id="taskid">	
	</div>
	<button type="submit" class="btn btn-primary btn-block" ng-click="addTask()">Submit</button>

	<ul class="list-group" id="resultList">
		<li ng-repeat="x in tasks"  class="list-group-item">
			<label>{{ x }}</label>	
			<div style="text-align: right;">
				<button type="button" class="btn btn-danger" ng-click="deleteTask(x)">Delete</button>
			</div>
		</li>
	</ul> 
</div>

<!--
<script src="javascript/page1Ctrl.js"></script>
-->